<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Document</title>

</head>
<body>
    <style>
        .header{min-height: 100px;}
        .sweet{min-height: 800px;}
        .heading{color: black; position:absolute; top: 50%;font-size: 1rem; list-style-position: inside;}
        .footer{min-height: 100px;}
    </style>
    <div>
        <div class="header" style="background-color: pink;"></div>
        <div class ="sweet" style="background-color:antiquewhite">
            <div><ul class="heading" ><li>My Love is Overwhelmed for U Baby 🥰.</li>
                &nbsp;
            <li>even if u have pimples, even tho u get fat in future i don't mind my love will be still same for U & u aren't fat lol 😅.</li>
            &nbsp;
        <li>All i need from u is that u being with me forever 🥺.</li>
        &nbsp;
        <li>Baby one thing i hate that u never share your sorrow or sadness with me , don't be afraid to say i'm always there for u, i won't get tired listening your problems 🥺.</li>
        &nbsp;
        <li>For one thing i can't wait is that to feel your warmness by cuddling u & how can i forget my Baby lips, they are my honey 😩.</li>
    </ul>
        
        
            </div>
        </div>
        <div class="footer" style="background-color: pink; height: 50px"></div>


    </div>
    
</body>
</html>