<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Document</title>

</head>
<body>
    <style>
        .header{min-height: 100px;}
        .sweet{min-height: 800px;}
        .heading{color: black; position:absolute; top: 50%;font-size: 1rem; list-style-position: inside;}
        .footer{min-height: 100px;}
    </style>
    <div>
        <div class="header" style="background-color: pink;"></div>
        <div class ="sweet" style="background-color:antiquewhite">
            <div><ul class="heading" ><li>A trip with u in singapore will be amazing🥰.</li>
                &nbsp;
            <li>i will hold ur hands on a airplane continously 🥺.</li>
            &nbsp;
        <li>we will take ur mom to then she will beat both of us 😅.</li>
        &nbsp;
        <li>we will hangout in singapore day & night or we can stay in room & play games in bed 😘😅.</li>
        &nbsp;
    </ul>
        
        
            </div>
        </div>
        <div class="footer" style="background-color: pink; height: 50px"></div>


    </div>
    
</body>
</html>